ol {
  min-width: 340px;
  padding: 0;
  margin: 0;

  font-size: 16px;
  font-weight: 600;
}

ol li {
  display: flex;
  justify-content: space-between;
  height: 25px;

  margin: 10px 0;
  padding: 10px;
}

ol button {
  background-color: #fff;
  color: #f44336;
  border: 1px solid #f44336;
  border-radius: 4px;
  padding: 3px 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  transition-duration: 0.4s;
  cursor: pointer;

  min-width: 100px;
  margin-left: 15px;
}
ol button:hover {
  background-color: #f44336;
  color: white;
}
